header{
       width: 400 px;
       max-width: 450 px;
       margin:auto;
       margin-top: 30 px;
}
footer{
     padding-left:20px ;
}
p{
    color:black ;
    font-size: 20px;
    text-align: justify;
    margin-left: 20px;
}
body{
    font-family: Times New Roman, Times, serif;
}
#joue{
    color: rgb(39, 18, 48);
    background-color: aliceblue;
}
button{
    
    max-width: 100%;
    max-height: 50px;
}
input text,tel, email{
    width: 50px;
    max-width: 100%;
    height: auto;
}
input textarea{
    max-width: auto;
    height: 300 px;
    max-height: 300%;
    width: 500px;
}
form{
    color: blueviolet;
   
}
.cours{
    text-align: justify;
}
fieldset{
    width: 160px;
    max-width: 200%;
    height: auto;
    padding: 20px;
    background-color: #2b0457;
    margin: 20px;
}

img{
    width: 650px;
    max-width: 700%;
    height: auto;
    padding: 20px;
}
code{
    color: aliceblue;
}
